Django==2.2.24
flake8==3.7.9
Setuptools==40.7.1
grpcio==1.14.1
yapf==0.29.0
mysqlclient==1.4.6
django-prometheus==2.0.0
django-tastypie==0.14.3
amqp==2.2.2
celery==4.2.1
kombu==4.6.4
django-celery-beat==1.1.1
redis==3.2.0
https://github.com/celery/django-celery-results/archive/882aea93ee783537bcc409312a093f4207ef5da4/master.zip
google-cloud-bigquery==1.23.1
https://github.com/cognitev/eventful-django/archive/master.zip
mock==4.0.1
django-environ==0.4.5
six==1.13.0
gunicorn==19.7.1
eventlet==0.24.1
celery-prometheus-exporter==1.7.0
sentry-sdk==0.13.5
